{% extends 'base.html.twig' %}

{% block menu %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="nav-item">
            <div class="field is-grouped">
                </span>
                <span>@{{ app.user.username }}</span>
                </a>
            </div>
        </div>

        <div class="nav-item">
            <div class="field is-grouped">
                <p class="control">
                    <a id="create" class="button is-primary">
                    <span class="icon">
                      <i class="fa fa-plus"></i>
                    </span>
                        <span>Create</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="nav-item">
            <div class="field is-grouped">
                <p class="control">
                    <a id="logout" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-sign-out"></i>
                    </span>
                        <span>Logout</span>
                    </a>
                </p>
            </div>
        </div>

    {% else %}

        <div class="nav-item">
            <div class="field is-grouped">
                <p class="control">
                    <a id="login" class="button is-primary">
                    <span class="icon">
                      <i class="fa fa-sign-in"></i>
                    </span>
                        <span>Login</span>
                    </a>
                </p>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block body %}

    <div id="create-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create Post</p>
                <button id="create-close" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <form id="create-post-form" action="{{ path('createPost') }}" method="post">
                    <div class="field">
                        <label class="label">Title<span class="mandatory">*</span></label>
                        <p class="control">
                            <input class="input" type="text" name="name" placeholder="This is an awesome Link">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">URL<span class="mandatory">*</span></label>
                        <p class="control">
                            <input class="input" type="text" name="url" placeholder="https://www.example.com">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Description</label>
                        <p class="control">
                            <textarea id="description" class="textarea" name="description"
                                      placeholder="Description is optional..."></textarea>
                        </p>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <a id="create-post" class="button is-success">Create Post</a>
                <a id="cancel-post" class="button">Cancel</a>
            </footer>
        </div>
    </div>

    <div class="container">
        <div class="level">
            <div class="level-item"><h1 class="title">Today</h1></div>
        </div>
        {% for post in posts %}
            <div class="">
                <article class="level">
                    {#<div class="media-left">#}
                    {#<figure class="image is-32x32">#}
                    {#<img src="{{ asset(post.imageUrl) }}" alt="Image">#}
                    {#</figure>#}
                    {#</div>#}
                    <div class="level-left">
                        <div class="level-item">
                            <div>
                                <a class="main-link title" target="_blank" href="{{ post.url }}">
                                    <p>{{ post.getName() }}</p>
                                </a>
                                <p class="heading">
                                    <small>by {{ post.creator }}</small>
                                    <small> | <strong><a href="{{ path("showPost", {'id': post.id}) }}">URL</a></strong></small>
                                    <small> | {{ post.created|date("m/d/Y") }}</small>
                                    <small> | {{ post.comments|length }} comments</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if app.user %}
                        <div class="level-right">
                            {% if app.user.username in post.favoritedUsers %}
                                <a class="level-item" href="{{ path("unfavoritePost", {'id': post.id}) }}">
                                    {{ post.favoritedUsers|length }}x<span class="icon"><i
                                                class="fa fa-heart"></i></span>
                                </a>
                            {% else %}
                                <a class="level-item" href="{{ path("favoritePost", {'id': post.id}) }}">
                                    {{ post.favoritedUsers|length }}x<span class="icon"><i
                                                class="fa fa-heart-o"></i></span>
                                </a>
                            {% endif %}
                        </div>
                        </a>
                    {% else %}
                        {{ post.favoritedUsers|length }} x  <span class="icon"><i
                                class="fa fa-heart"></i></span>
                    {% endif %}
                </article>
            </div>
            <hr class="link-divider">
        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .mandatory {
            color: red;
        }

        a.main-link {
            font-size: 24px;
            font-weight: bold;
        }

        .link-divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .custom-box {
            margin-bottom: 5px;
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border: groove;
            border-width: 1px;
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            var simplemde = new SimpleMDE(
                {
                    placeholder: "Awesome Markdown enabled editor!",
                    renderingConfig: {
                        codeSyntaxHighlighting: true
                    },
                    toolbar: false,
                    element: document.getElementById("description")
                });

            var create = $('#create');
            var createClose = $('#create-close');

            create.click(function () {
                $('#create-modal').addClass('is-active');
            });

            createClose.click(function () {
                $('#create-modal').removeClass('is-active');
            });

            $('#cancel-post').click(function () {
                $('#create-modal').removeClass('is-active');
            });

            $('#create-post').click(function () {
                $('#create-post-form').submit();
            });

            $('#logout').click(function () {
                window.location.replace("{{ path('fos_user_security_logout') }}");
            });

            $('#login').click(function () {
                window.location.replace("{{ path('fos_user_security_login') }}")
            });
        });


    </script>

{% endblock %}
